<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern> [ %highlight(%-5level)] %d{dd.MM.yy - HH:mm:ss} [%thread] [class: %cyan(%logger{0})] [method: %M] | %m%n</pattern>
        </encoder>
    </appender>

    <property name="LOG_FILE" value="LogFile" />
    <appender name="FILE" class="ch.qos.logback.core.FileAppender" additivity="false">
        <file>${LOG_FILE}.log</file>
        <append>true</append>
        <encoder>
            <charset>UTF-8</charset>
            <!-- TODO: Доделать нормальный паттерн -->
            <pattern>[ %(%-5level)] %d{dd.MM.yy - HH:mm:ss} [%thread] [class: %logger{0}] [method: %M] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.baeldung.logback.tests" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>